   <!--====== HEADER PART START ======-->

   <header class="header-area">
    <div class="navgition navgition-transparent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#" style="color: #853111;">
                            <img src="https://www.esut.edu.ng/media/banner_images/esut_slide8.jpg" width="80px" height="80px" alt="Logo">
                            ESUT Cooperative
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOne"
                            aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item active">
                                    <a class="page-scroll" href="#home">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#mission">OUR MISSION</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#executives">EXECUTIVES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#contact">CONTACT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#news">NEWS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="http://206.189.122.89:4200/#/auth/login">Login</a>
                                </li>
                            </ul>
                        </div>

                        <!-- <div class="navbar-social d-none d-sm-flex align-items-center">
                            <span>FOLLOW US</span>
                            <ul>
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </div> -->
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- navgition -->

</header>

<!--====== HEADER PART ENDS ======-->

<section id="home" class="contact-area" style="padding-bottom: 0;">
    <div class="text-center">
        <div id="owl-slider" class="owl-carousel owl-theme">
            <div>
                <div class="textoverlay">
                    <h1>Esut Cooperative</h1>
                    <p>Welcome</p>
                </div><img src="https://www.esut.edu.ng/media/banner_images/esut_slide8.jpg" />
            </div>
            <div>
                <img
                    src="https://www.esut.edu.ng/media/banner_images/PhotoPictureResizer_190725_135737286_crop_1067x469-1600x575.jpg" />
            </div>
            <div><img src="https://www.esut.edu.ng/media/banner_images/esut_slide2.jpg" />
            </div>
            <div>
                <img
                    src="https://www.esut.edu.ng/media/banner_images/PhotoPictureResizer_190901_185051113_crop_4032x1459-1600x575.jpg" />
            </div>
        </div>
    </div>
</section>

<!--====== CONTACT PART START ======-->

<section id="mission" class="contact-area">
    <div class="container">
        <div class="text-center">
            <h1>Our Mission</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. In nisl
                nisi scelerisque eu ultrices vitae auctor eu. Morbi enim nunc faucibus a. Adipiscing elit
                pellentesque habitant morbi tristique senectus et netus et. Netus et malesuada fames ac turpis
                egestas. Egestas dui id ornare arcu odio ut sem nulla. In ornare quam viverra orci sagittis eu
                volutpat odio. Consectetur purus ut faucibus pulvinar elementum integer. Eu feugiat pretium nibh
                ipsum consequat nisl vel pretium lectus. Aliquet lectus proin nibh nisl. Aliquam ultrices sagittis
                orci a scelerisque purus. Velit ut tortor pretium viverra suspendisse potenti nullam ac. Id
                consectetur purus ut faucibus. Scelerisque mauris pellentesque pulvinar pellentesque habitant. Ut
                sem nulla pharetra diam sit amet nisl.
            </p>
        </div>
    </div> <!-- conteiner -->
</section>

<!--====== CONTACT PART ENDS ======-->
<!--====== CONTACT PART START ======-->

<!--====== CONTACT PART ENDS ======-->
<!--====== CALL TO ACTION PART START ======-->

<section id="executives" class="call-to-action">


    <div class="container">
        <div class="call-action-content">
            <div class="text-center mb-4">
                <h2 class="text-white">Executives</h2>
            </div>
            <div class="row mb-4">
                <div class="col-md-4 text-center">
                    <img src="https://via.placeholder.com/70" style="border-radius: 35px;" alt="">
                    <h4 class="call-title">John Kelechi</h4>
                    <p class="text">President</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="https://via.placeholder.com/70" style="border-radius: 35px;" alt="">
                    <h4 class="call-title">Samuel Nnamdi</h4>
                    <p class="text">Secretary</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="https://via.placeholder.com/70" style="border-radius: 35px;" alt="">
                    <h4 class="call-title">Alfred James</h4>
                    <p class="text">Treasurer</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4 text-center">
                    <img src="https://via.placeholder.com/70" style="border-radius: 35px;" alt="">
                    <h4 class="call-title">Uche Chukwudi</h4>
                    <p class="text">PRO</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="https://via.placeholder.com/70" style="border-radius: 35px;" alt="">
                    <h4 class="call-title">Silas Nnamdi</h4>
                    <p class="text">Chief Whip</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="https://via.placeholder.com/70" style="border-radius: 35px;" alt="">
                    <h4 class="call-title">Johnson Gold</h4>
                    <p class="text">Lawyer</p>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== CALL TO ACTION PART ENDS ======-->

<!--====== CONTACT PART START ======-->

<section id="contact" class="contact-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-10">
                    <h4 class="title">Get In touch</h4>
                    <p class="text">We want to hear from you!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form">
                    <form id="contact-form" action="assets/contact.php" method="post" data-toggle="validator">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <input type="text" name="name" placeholder="Your Name"
                                        data-error="Name is required." required="required">
                                    <div class="help-block with-errors"></div>
                                </div> <!-- single form -->
                            </div>
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <input type="email" name="email" placeholder="Your Email"
                                        data-error="Valid email is required." required="required">
                                    <div class="help-block with-errors"></div>
                                </div> <!-- single form -->
                            </div>
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <input type="text" name="subject" placeholder="Subject"
                                        data-error="Subject is required." required="required">
                                    <div class="help-block with-errors"></div>
                                </div> <!-- single form -->
                            </div>
                            <div class="col-md-6">
                                <div class="single-form form-group">
                                    <input type="text" name="phone" placeholder="Phone"
                                        data-error="Phone is required." required="required">
                                    <div class="help-block with-errors"></div>
                                </div> <!-- single form -->
                            </div>
                            <div class="col-md-12">
                                <div class="single-form form-group">
                                    <textarea placeholder="Your Mesaage" name="message"
                                        data-error="Please, leave us a message." required="required"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div> <!-- single form -->
                            </div>
                            <p class="form-message"></p>
                            <div class="col-md-12">
                                <div class="single-form form-group text-center">
                                    <button type="submit" class="main-btn">send message</button>
                                </div> <!-- single form -->
                            </div>
                        </div> <!-- row -->
                    </form>
                </div> <!-- row -->
            </div>
        </div> <!-- row -->
    </div> <!-- conteiner -->
</section>

<!--====== CONTACT PART ENDS ======-->

<!--====== CONTACT PART START ======-->

<section id="news" class="contact-area">
    <div class="container">
        <h1 class="text-center mb-4">News</h1>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p>Lorem ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- conteiner -->
</section>

<!--====== CONTACT PART ENDS ======-->
<!--====== FOOTER PART START ======-->

<footer id="footer" class="footer-area">

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        <p class="text">ESUT Cooperative</p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
</footer>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TO TOP PART START ======-->

<a class="back-to-top" href="#"><i class="lni-chevron-up"></i></a>

<!--====== BACK TO TOP PART ENDS ======-->

